<!-- templates/modal_confirm_unhide.html -->

<!-- MODAL TO SHOW AFTER CONFIRMATION OF UNHIDE PROJECT OPERATION -->

<div class="modal-overlay" id="confirm-unhide-overlay-{{pid}}">
    <div id="confirm_unhide_project_modal_{{pid}}"
         class="modal modal-hide fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header-info text-center d-block">
                  <h2 style="margin-left: 30px">{{project_name}}</h2>
              </div>
              <div class="modal-body-unhide-confirm-{{pid}} modal-body">
                    <div class="centered-container">
                        <div class="unhide-modal-content">
                            <div class="modal-body-unhide-confirm">
                                <h1 style="font-size: 20px; padding-top: 10px; padding-bottom: 25px">Skjul prosjekt</h1>
                                <i class="fa fa-check-circle"
                                   style="font-size: 45px; color: #10AB4D; padding-bottom: 25px"></i>
                                <h1 style="font-size: 18px; padding-bottom: 10px">
                                    Prosjektet <b>{{pid}}</b> er synlig i prosjektlisten.
                                </h1>
                            </div>
                        </div>
                    </div>
              </div>
              <div class="modal-footer text-center">
                <button name="{{pid}}"
                        type="button"
                        class="btn btn-default unhide-modal-button"
                        onclick="closeConfirmUnHideModal(name);
                                 removeFromHidden(name, '{{user_email}}');
                                 disableVIewAllIfNoHidden();"
                        onMouseOver="this.style.color='#10AB4D'"
                        onMouseOut="this.style.color='white'">Ok</button>
              </div>
          </div>
        </div>
    </div>
</div>